<h1>CodSofta</h1>
<p>
    <h2> Task01 : MOVIE GENRE CLASSIFICATION  </h2>
     <ul><li>the problem we try to find the Genere of specific moie based on description of this movie</li></ul>
 </p>

<h3>Let's import libraries</h3>

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import seaborn as sns
from sklearn.model_selection import train_test_split
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.naive_bayes import MultinomialNB
from sklearn.metrics import accuracy_score, classification_report
from sklearn.preprocessing import LabelEncoder

<p>
<h2>Load dataset</h2>
<p>the dataset we have is in text file and its divided into 2 files : train_data.txt , test_data.txt </p>
so we will try to convert them into a Excel file (.csv)
</p>

In [2]:
# Load the training data
train_data_path = 'train_data.txt'  # Update with your actual path
train_df = pd.read_csv(train_data_path, delimiter=' ::: ', header=None, names=['ID', 'TITLE', 'GENRE', 'DESCRIPTION'])

# Load the test data
test_data_path = 'test_data.txt'  # Update with your actual path
test_df = pd.read_csv(test_data_path, delimiter=' ::: ', header=None, names=['ID', 'TITLE', 'DESCRIPTION'])

C:\Users\Mohamed Saad\AppData\Local\Temp\ipykernel_13032\2659171326.py:3: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  train_df = pd.read_csv(train_data_path, delimiter=' ::: ', header=None, names=['ID', 'TITLE', 'GENRE', 'DESCRIPTION'])
C:\Users\Mohamed Saad\AppData\Local\Temp\ipykernel_13032\2659171326.py:7: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  test_df = pd.read_csv(test_data_path, delimiter=' ::: ', header=None, names=['ID', 'TITLE', 'DESCRIPTION'])

<h3> Now Let's Make some data Cleaning on this DataSet</h3>

In [3]:
train_df.head()

,ID,TITLE,GENRE,DESCRIPTION
0,1,Oscar et la dame rose (2009),drama,Listening in to a conversation between his doc...
1,2,Cupid (1997),thriller,A brother and sister with a past incestuous re...
2,3,"Young, Wild and Wonderful (1980)",adult,As the bus empties the students for their fiel...
3,4,The Secret Sin (1915),drama,To help their unemployed father make ends meet...
4,5,The Unrecovered (2007),drama,The film's title refers not only to the un-rec...

In [4]:
test_df.head()

,ID,TITLE,DESCRIPTION
0,1,Edgar's Lunch (1998),"L.R. Brane loves his life - his car, his apart..."
1,2,La guerra de papá (1977),"Spain, March 1964: Quico is a very naughty chi..."
2,3,Off the Beaten Track (2010),One year in the life of Albin and his family o...
3,4,Meu Amigo Hindu (2015),"His father has died, he hasn't spoken with his..."
4,5,Er nu zhai (1955),Before he was known internationally as a marti...

In [5]:
print("train missing value: " , train_df.isna().sum())
print("test missing value: " , test_df.isna().sum())

train missing value:  ID             0
TITLE          0
GENRE          0
DESCRIPTION    0
dtype: int64
test missing value:  ID             0
TITLE          0
DESCRIPTION    0
dtype: int64

In [6]:
print("train duplicate: " , train_df.duplicated().sum())
print("test duplicate: " , test_df.duplicated().sum())

train duplicate:  0
test duplicate:  0

In [7]:
train_df.dropna(inplace = True)

<h4>Now Let's start converting the String columns to numeric columns by using Label Encoder</h4>

In [8]:

le = LabelEncoder()
train_df['GENRE_LABEL'] = le.fit_transform(train_df['GENRE'])

<h4>split the data into train and test sets</h4>

In [9]:
# Split the data into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(
    train_df['DESCRIPTION'], train_df['GENRE_LABEL'], test_size=0.3, random_state=42)

# let's use TF-IDF to make the train and test data available for the model

In [10]:
# TF-IDF vectorization
tfidf_vectorizer = TfidfVectorizer(max_features=5000)
train_vectors = tfidf_vectorizer.fit_transform(X_train)
test_vectors = tfidf_vectorizer.transform(X_test)

<h3>Now we will use Naive Bayes classifier for classification problem</h3>

In [11]:
# Train a Naive Bayes classifier
nb_classifier = MultinomialNB()
nb_classifier.fit(train_vectors, y_train)


# Make predictions on the test set
predictions = nb_classifier.predict(test_vectors)

In [12]:
# Evaluate the model
accuracy = accuracy_score(y_test, predictions)
print(f'Accuracy: {accuracy:.2f}')

# Display classification report
# print('Classification Report:\n', classification_report(y_test, predictions))

Accuracy: 0.51

<h4>let's try to use Grid search with different values of alpha and try to identify the best param and best Alpha value</h4>

In [14]:
from sklearn.model_selection import GridSearchCV

# Define the parameter grid
param_grid = {'alpha': [0.1, 0.5, 1.0, 1.5, 2.0,0.001]}

# Initialize the classifier
nb_classifier = MultinomialNB()

# Initialize GridSearchCV
grid_search = GridSearchCV(estimator=nb_classifier, param_grid=param_grid, cv=5, scoring='accuracy')

# Fit the model with the best parameters
grid_search.fit(train_vectors, y_train)

# Get the best parameters
best_params = grid_search.best_params_
print(f'Best Parameters: {best_params}')

# Use the best model for predictions
best_nb_classifier = grid_search.best_estimator_
best_predictions = best_nb_classifier.predict(test_vectors)

# Evaluate the best model
best_accuracy = accuracy_score(y_test, best_predictions)
print(f'Best Model Accuracy: {best_accuracy:.2f}')

Best Parameters: {'alpha': 0.1}
Best Model Accuracy: 0.54

# Thank you